<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5933e59c-f7ad-4930-8b6b-4a42b9639975/resourceGroups/Riba/providers/Microsoft.Web/sites/CLDV6211POE</ResourceId>
    <ResourceGroup>Riba</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cldv6211poe-cac7dwacbjfchpdf.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>cldv6211poe-cac7dwacbjfchpdf.scm.southafricanorth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CLDV6211POE</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$CLDV6211POE</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Booking" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EventEase_CLDV6211_Part1.One.Models.Model1, EventEase CLDV6211 Part1.One" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EventEase_CLDV6211_Part1OneContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EventEase_CLDV6211_Part1.One.Data.EventEase_CLDV6211_Part1OneContext, EventEase CLDV6211 Part1.One" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Venue" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lab7L95SR\SQLEXPRESS;Initial Catalog=EventEase_Database_Script_ST10446648;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Venue_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=lab7L95SR\SQLEXPRESS;initial catalog=EventEase_Database_Script_ST10446648;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Event" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=lab7L95SR\SQLEXPRESS;Initial Catalog=EventEase_Database_Script_ST10446648;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Event_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=lab7L95SR\SQLEXPRESS;initial catalog=EventEase_Database_Script_ST10446648;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Booking-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Event-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EventEase_CLDV6211_Part1OneContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Venue-Web.config Connection String" />
  </ItemGroup>
</Project>